/* BASE RULES */

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* LAYOUT RULES */

header {
    width: 100%;
    overflow: hidden;
    height: 2rem;
    top: 0;
    border-bottom: thin solid grey;
    background-color: white;
    padding-right: 5%;
}

header h1 {
    text-align: center;
    line-height: 50%;
    color: #5c5b5b;
    font-size: 1.2em;
}

.layout {
    width: 100%;
    overflow: hidden;
    font-size: 1em;
}

div.layout {
    margin-top: -5px;
    height: 52vh;
    padding-right: 5%;
    overflow-y: auto;

    /* give a border between the textarea and the preview */
    border-top: 2px solid grey;
}

/* In textarea and textarea:focus, the border, resize
and outline rules intend to disable some of the standard
behavior of the textarea field */

textarea.layout {
    border: none;
    resize: none;
    width: 100vw;
    height: 45vh;
    overflow-y: auto;
}

textarea.layout:focus {
    outline: none;
}

/* min-width: 450px */
@media (min-width: 28.125rem) {

    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    header {
        height: 4.375rem;
        /* approx. 10vh */
    }

    header h1 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .App section {
        display: flex;
        justify-content: space-around;
    }

    /* makes both textarea and #preview fill both halves of the screen */
    .layout {
        width: 50vw;
        overflow: hidden;
    }

    div.layout {
        margin-top: 0;
        margin-right: -5px;
        height: 87.5vh;
        padding-bottom: 5px;
        border-top: none;

        /* give a border between the textarea and the preview */
        border-left: thin solid grey;
    }

    textarea.layout {
        /* makes the textarea fit the entire left half of the screen */
        margin-top: 0;
        margin-left: 0;
        width: 50vw;
        height: 87.5vh;
    }
}

/* CORNER CASES */

/*
min-height: 301px
max-height: 600px
 */
@media (min-height: 18.8125rem) and (max-height: 37.5rem) {
    header {
        height: 3rem;
    }

    header h1 {
        line-height: 1.4rem;
        font-size: 1rem;
    }
}

/* 340px approximately, 18.82 em */
@media(max-height:21.25rem) {
    header {
        height: 1.6rem;
    }

    header h1 {
        line-height: 0.3rem;
        font-size: 1rem;
    }
}

@media (max-width: 449px) {
    header h1 {
        font-size: 0.7rem;
    }
}